[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/regankumar
[access "refs/for/refs/*"]
	read = group user/regankumar
	push = group user/regankumar
	label-Code-Review = -2..+2 group user/regankumar
	label-Verified = -1..+1 group user/regankumar
	rebase = group user/regankumar
	removeReviewer = group user/regankumar
	submit = group user/regankumar
[access "refs/heads/*"]
	read = group user/regankumar
	create = group user/regankumar
	push = +force group user/regankumar
	pushMerge = group user/regankumar
[access "refs/tags/*"]
	push = group user/regankumar
	push = +force group user/regankumar
